/*
    body {font-family: Arial, Helvetica, sans-serif;}
    form {border: 3px solid #f1f1f1;}
*/

    input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }

    .login_btn {
    background-color: #4CAF50;
    color: white;
    padding: 18px 25px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }

    .login_btn:hover {
    opacity: 0.8;
    }

    .login_cancelbtn {
    position: relative;
/*    padding: 10px 18px;*/
/*    margin-left: 185px;*/
    background-color:coral;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

    }
    .login_cancelbtn:hover {
    opacity: 0.8;
    }

    .login_imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    }



    .login_container {
    padding: 16px;
    width: 500px;
    margin-left: 435px;
        border-radius: 25px;
        
    }

    span.psw {
    float: right;
    padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .login_cancelbtn {
        width: 100%;
    }
    }
